
:root{
    --background: #ffffff;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: #ffffff;
}

[data-theme ="dark"]{
    --background: #000000;
    --text-primary: #ffff;
    --button-bg: #ffff;
    --button-text: #000;
}.lightDark-container{
    width: 100vw;
    height: 100vh;
    transition: all 0.5sec;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;

}
.Light-Dark-App{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}
.Light-Dark-App button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(146, 83, 206);
    color: black;

}